@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&family=Merriweather&family=Praise&display=swap');
body {
    margin: 0;
    text-align: center;
    font-family: 'Merriweather', serif;
    font-size: 1.5rem;
    background-color: rgb(250, 250, 250);
}

h1 {
    font-size: 5.625rem;
    margin-top: 50px auto 0 auto;
    font-family: 'Praise', cursive;
    color: rgb(255, 251, 44);
}

h2 {
    font-family: 'Fredoka One', sans-serif;
    font-size: 2.5rem;
    color: rgb(255, 251, 23);
    font-weight: normal;
    padding-bottom: 10px;
}

h3 {
    font-family: 'Fredoka One', sans-serif;
    color: rgb(255, 92, 233);
}

.top-container {
    position: relative;
}

.middle-container {
    margin: 100px 0;
}

.bottom-container {
    background-color: rgb(250, 248, 160);
    padding: 50px 0 20px;
}

.pro {
    text-decoration: underline;
}

.intro {
    width: 40%;
    margin: auto;
}

.bottom-cloud {
    position: absolute;
    left: 500px;
    bottom: 300px;
}

.top-cloud {
    position: absolute;
    right: 500px;
    top: 50px;
}

.btn {
    background: #faf8a0;
    background-image: -webkit-linear-gradient(top, #faf8a0, #e7e000);
    background-image: -moz-linear-gradient(top, #faf8a0, #e7e000);
    background-image: -ms-linear-gradient(top, #faf8a0, ##e7e000);
    background-image: -o-linear-gradient(top, #faf8a0, ##e7e000);
    background-image: linear-gradient(to bottom, #faf8a0, #bdb700);
    -webkit-border-radius: 8;
    -moz-border-radius: 8;
    border-radius: 8px;
    font-family: Arial;
    color: #faf8a0;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
    margin-bottom: 30px;
}

.btn:hover {
    background: #3cb0fd;
    background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
    background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
    text-decoration: none;
}

.footer-link {
    text-decoration: none;
    color: hsl(216, 100%, 51%);
    margin: 10px 30px;
    font-family: 'Merriweather', serif;
}

.footer-link:hover {
    color: white;
}

.profile-image {
    height: 300px;
    width: 300px;
}


/*.contact-me,
.bottom-container {
    background-color: rgb(250, 248, 160);
}*/

.skill-row {
    width: 50%;
    margin: 100px auto 100px auto;
    text-align: left;
    line-height: 2;
}

.skill-developer {
    width: 25%;
    float: left;
    margin-right: 30px;
}

.skill-video {
    width: 25%;
    float: right;
    margin-left: 30px;
    margin-bottom: 0;
}

hr {
    border: dotted hsl(209, 100%, 51%) 6px;
    border-bottom: none;
    width: 4%;
    margin: 100px auto;
}

.contact-message a {
    width: 40%;
    margin: 40px auto 60px;
    text-decoration: none;
    color: hsl(216, 100%, 51%);
}

.copyright {
    color: hsl(216, 100%, 51%);
    font-size: 0.75rem;
    padding: 20px 0px;
}